%form{:action => '/search', :method => 'post'}
  %input{:name => 'query', :type => 'text', :size => 30}
  %input{:type => 'submit', :value => 'Search!'}

- @entries.each do |entry|
  %a{:href => entry.link} 
    = entry.title
  = " - #{entry.feed.title}"
  %br/
%br/
